.campo-data {
    display: flex;
    align-items: center;
    padding-left: 2%;
    width: 98%;
    height: 5vh;
    background: rgb(247 245 245);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 30%);
    backdrop-filter: blur(17.2px);
    -webkit-backdrop-filter: blur(17.2px);
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
}
.data {
    width: 30%;
}
.data input {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
}
.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.buton-cadastro {
    background-image: url('/gasto32.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 23px;
    height: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.buton-cadastro:hover {
    background-image: url('/gasto32c.png');
    transform: scale(1.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
.buton-cadastro:active {
    transform: scale(0.8);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.texto-cadastro {
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
}