* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  position: absolute;
  top: 17%;
  left: 9px;
  bottom: 0;
  z-index: 1;
  width: 180px;
  height: 30%;
  background-color: rgb(247 245 245);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 30%);
  backdrop-filter: blur(17.2px);
  -webkit-backdrop-filter: blur(17.2px);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 0.5s ease;
}
.sidebar.hidden {
  transform: translateX(-105%);
}
h1 {
  color: #8000ff;
  font-weight: 800;
  text-align: right;
  padding: 15px 0;
  padding-right: 40px;
  pointer-events: none;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul li {
  list-style: none;
  display: flex;
  height: 33px;
  width: 100px;
  align-items: center;
  gap: 15px;
  margin-left: 25px;
  cursor: pointer;
}
li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}
.login-menu,
.saldo-menu,
.gasto-menu {
  transition: all 0.2s ease;
}
.saldo-menu {
  width: 30%;
  height: 100%;
  background-image: url('/economizar32.png');
  background-size: cover;
}
.gasto-menu {
  width: 30%;
  height: 100%;
  background-image: url('/gasto32.png');
  background-size: cover;
}
.login-menu {
  width: 30%;
  height: 100%;
  background-image: url('/login32.png');
  background-size: cover;
}
li:hover .login-menu {
  transform: scale(1.3);
  background-image: url('/login32c.png');
}

li:hover .saldo-menu {
  transform: scale(1.3);
  background-image: url('/economizar32c.png');
}

li:hover .gasto-menu {
  transform: scale(1.3);
  background-image: url('/gasto32c.png');
}
li:active .saldo-menu,
li:active .gasto-menu,
li:active .login-menu {
  transform: scale(0.7);
}
.login-texto,
.gasto-texto,
.saldo-texto {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  user-select: none;
}
.menuLateral {
  display: flex;
  align-items: center;
  padding-left: 2%;
  width: 8vw;
  height: 4vh;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-right: 6px;
  justify-content: space-between;
  cursor: pointer;
  background-image: url('/menuLateralRev.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  right: -7px;
}
.menuLateral:hover {
  background-image: url('/menuLateralR.png');
}
.menuLateral:active {
  transform: scale(0.75);
}
.sidebarAjuste {
  display: flex;
  align-items: center;
}
.menuLateralAjuste {
  position: absolute;
  top: 7px;
  right: -43px;
  background-color: rgb(247 245 245);
  box-shadow: 17px 0px 30px -6px rgb(0 0 0 / 30%);
  width: 46px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 6px 6px 0;
}
.menuLateral {
  display: flex;
  align-items: center;
  padding-left: 2%;
  width: 8vw;
  height: 4vh;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-right: 6px;
  justify-content: space-between;
  cursor: pointer;
  background-image: url('/menuLateralRev.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  right: -10px;
}

.menuLateral:hover {
  background-image: url('/menuLateralR.png');
}

/* Quando a sidebar estiver aberta */
.menuLateral.aberta {
  background-image: url('/menu-lateral.png');
}

.menuLateral.aberta:hover {
  background-image: url('/menuLateral.png');
}

@media screen and (height <= 768px) {
  .menuLateralAjuste {
    top: 12px;
  }
  .menuLateral {
    right: -15px;
  }
}
@media screen and (height > 769px) {
  .sidebar {
    top: calc(133% * (100 / 868));
  }
}
